.cuento {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: grey;
    text-align: justify;

}
body{
    background-color: #ffe7af;
}

h3{
    margin-left: 14px;
}